@import './vendors/vars';

@import './base/reset';
@import './base/common';
@import './base/container';

@import './components/backdrop';
@import './components/modal';
@import './components/modal-form';
@import './components/socials';

@import './pages/portfolio';

@import './layout/header';
@import './layout/hero';
@import './layout/benefits';
@import './layout/work';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
